/*  TOC
─────────────────────────────────
Centered Max Inline Content
Stack
Position
Visually hidden
─────────────────────────────── */

/* 
// MARK: Centered Content
Centered Content
*/

.max-inline-content { padding-inline: max(var(--space-sm-lg), calc(50vw - var(--content-size, 90em) / 2)) }

/* 
// MARK: Stack
Stack
*/

.stack > * { margin-block: 0 }
.stack > * + * { margin-block-start: var(--space, 1em); }

/*
// MARK: Overflow
scroll-x-overflow
*/
.scroll-x-overflow {
  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
}

.scroll-x-overflow > * { flex: 0 0 auto; }

.scroll-x-overflow > img {
  block-size: 100%;
  flex-basis: auto;
  width: auto;
}

.scroll-x-overflow > * + * { margin-inline-start: var(--space-lg); }

.overflow-x-hint { -webkit-mask-image: linear-gradient(to right, #0000, #000, #000, #0000); }

/* 
// MARK: Position
Position
*/

.relative { position: relative }
.absolute { position: absolute }
.fixed { position: fixed } 
.sticky { position: sticky } 

/* 
// MARK: Visually Hidden
Visually Hidden
*/

:is(.visually-hidden, .sr-only) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}