/*  TOC
─────────────────────────────────
Adaptive Glass
Informatonal Colors
Shapes
─────────────────────────────── */

/* 
// MARK: Image Overlay
Image Overlay
*/
.img-overlay {  
  border-image: 
    linear-gradient(
    hsl(240 100% 20% / 0.6), 
    hsl(0 100% 20% / 0.6))
    fill 1;
}

/* 
// MARK: Adaptive Glass
Adaptive Glass
*/

.adaptive-glass {
  --glass-lightness: 100%;
  
  background: hsl(0 0% var(--glass-lightness) / 50%);
  backdrop-filter: blur(40px);
  
  @media (--OSdark) { --glass-lightness: 0%; }
}



/* 
// MARK: Theme Colors
Theme Colors
*/
.brand { color: var(--brand-5); }

.success { color: light-dark(var(--green-5), var(--green-3)) }
.info { color: light-dark(var(--blue-5), var(--blue-3)) }
.warning { color: light-dark(var(--orange-5), var(--orange-3)) }
.danger { color: light-dark(var(--red-5), var(--red-3)) }

.success-bg { background-color: light-dark(var(--green-5), var(--green-3)) }
.info-bg { background-color: light-dark(var(--blue-5), var(--blue-3)) }
.warning-bg { background-color: light-dark(var(--orange-5), var(--orange-3)) }
.danger-bg { background-color: light-dark(var(--red-5), var(--red-3)) }

/*
// MARK: Font Sizes
Font Sizes
*/ 

.font-xl { font-size: var(--font-size-xl); }
.font-lg { font-size: var(--font-size-lg); }  
.font-md { font-size: var(--font-size-md); } 
.font-sm { font-size: var(--font-size-sm); }  
.font-xs { font-size: var(--font-size-xs); }

/*
// MARK: Shapes
Shapes
*/

.square { border-radius: var(--radius-0) }
:is(.pill, .circle) { border-radius: var(--radius-ellipse) }
.circle { aspect-ratio: var(--ratio-square) }
