/*
Example use: 
.color { 
  background-color: var(--green-4); 
  --color-opacity: .5;
}
*/
* {
  --green-0: oklch(99% 0.03 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-1: oklch(95% 0.06 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-2: oklch(88% 0.12 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-3: oklch(80% 0.14 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-4: oklch(74% 0.16 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-5: oklch(68% 0.19 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-6: oklch(63% 0.2 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-7: oklch(58% 0.21 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-8: oklch(53% 0.2 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-9: oklch(49% 0.19 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-10: oklch(42% 0.17 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-11: oklch(35% 0.15 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-12: oklch(27% 0.12 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-13: oklch(20% 0.09 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-14: oklch(14% 0.07 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-15: oklch(11% 0.05 var(--hue-green, 0) / var(--color-opacity, 1));
  --green-bright: oklch(65% 0.3 var(--hue-green, 0) / var(--color-opacity, 1));
}
