/*
Example use: 
.color { 
  background-color: var(--indigo-4); 
  --color-opacity: .5;
}
*/
* {
  --indigo-0: oklch(99% 0.03 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-1: oklch(95% 0.06 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-2: oklch(88% 0.12 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-3: oklch(80% 0.14 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-4: oklch(74% 0.16 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-5: oklch(68% 0.19 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-6: oklch(63% 0.2 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-7: oklch(58% 0.21 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-8: oklch(53% 0.2 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-9: oklch(49% 0.19 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-10: oklch(42% 0.17 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-11: oklch(35% 0.15 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-12: oklch(27% 0.12 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-13: oklch(20% 0.09 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-14: oklch(14% 0.07 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-15: oklch(11% 0.05 var(--hue-indigo, 0) / var(--color-opacity, 1));
  --indigo-bright: oklch(65% 0.3 var(--hue-indigo, 0) / var(--color-opacity, 1));
}
