/*
Example use: 
.color { 
  background-color: var(--purple-4); 
  --color-opacity: .5;
}
*/
* {
  --purple-0: oklch(99% 0.03 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-1: oklch(95% 0.06 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-2: oklch(88% 0.12 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-3: oklch(80% 0.14 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-4: oklch(74% 0.16 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-5: oklch(68% 0.19 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-6: oklch(63% 0.2 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-7: oklch(58% 0.21 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-8: oklch(53% 0.2 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-9: oklch(49% 0.19 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-10: oklch(42% 0.17 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-11: oklch(35% 0.15 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-12: oklch(27% 0.12 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-13: oklch(20% 0.09 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-14: oklch(14% 0.07 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-15: oklch(11% 0.05 var(--hue-purple, 0) / var(--color-opacity, 1));
  --purple-bright: oklch(65% 0.3 var(--hue-purple, 0) / var(--color-opacity, 1));
}
