---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"input"> {
  type?: "checkbox" | "radio";
  size?: "sm" | "md" | "lg" ;
  uid?: string;
  label?: string;
  classes?: string;
}

const { 
  type = "checkbox",
  size = "md",
  uid,
  label,
  classes, 
  ...rest 
  } = Astro.props;
---

<style>
  /* Upgrade label layout when it's wrapping a checkbox */
  label:has( > :where(input[type="radio"], input[type="checkbox"])) {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    gap: 1ch;
  }

  :where(input[type="radio"], input[type="checkbox"]) {
    margin: unset;
    min-width: var(--space-md);
    aspect-ratio: 1;
    /* transform: translateY(1px); */
    border-radius: 100%;
  }
</style>

<label for={uid}>
  <input {type} id={uid} class:list={[size, classes]} {...rest}>
  <span>{label}</span>
</label>