---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"h1"> {
  size?: 'xs' | 'sm' | 'md' | 'lg' | 'xl';
  underline?: 'auto' | 'always' | 'hover' | 'none';	
  color?: 'base' | 'brand';
  contrast?: boolean;
  classes?: string;
}

const { 
  size = 'md',
  underline = 'auto',
  color = 'base',
  contrast = false,
  classes,
  ...rest
} = Astro.props;


---

<style>
  a {
    margin-block: calc(var(--space-3xs) * -1);
    margin-inline: calc(var(--space-3xs) * -1);
    padding-block: var(--space-3xs);
    padding-inline: var(--space-3xs);

    &:not(:hover) { text-decoration: inherit; }

    :link {
      --color-hue: var(--hue-indigo);
      text-decoration-color: var(--color-2);
    }

    :visited {
      --color-hue: var(--hue-purple);
      text-decoration-color: var(--color-2);
    }
  }
</style>

<a class:list={[size, underline, color, contrast && 'contrast', classes]} {...rest}>
  <slot />
</a>