---
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';
---
<Layout title="Welcome to Astro." description="The official site of Astro.">
  <main class="max-inline-content">
<h1>Buttons</h1>

<Button text='Default' />
<input type="button" value="<input>"/>
<Button text='Icon left' icon='symbols-solid' />
<Button text='Icon right' icon='symbols-solid' dir='rtl'/>
<Button type="submit" text='submit' />
<Button type="reset" text='reset' />
<Button text='disabled' disabled/>
<input type="file">

<hr>

<Button text='primary' theme='primary' />
<Button text='secondary' theme='secondary' />
<Button text='plain' theme='plain' />
<Button text='hug' theme='hug' />

<hr>

<Button text='Square' shape='square'/>
<Button text='Pill' shape='pill'/>
<Button text='CIR' shape='circle'/>

<hr>

<Button text='Extra small' size='xs'/>
<Button text='Small' size='sm' />
<Button text='Medium'  size='md'/>
<Button text='large' size='lg' />
<Button text='Extra large' size='xl' />

<hr />

<div class="slide-fade">
  <p class="loaded" style="padding-bottom: 1rem;">Press me Im springy</p>
  <button type="button" class="xl fx-spring">Button</button>
</div>
</main>
</Layout>

<style>
.loaded {
  animation: var(--animation-fade-in);
}
.slide-fade {
  animation:
    var(--animation-fade-out) forwards,
    var(--animation-slide-out-down);
  animation-timing-function: var(--ease-elastic-in-out-3);
  animation-duration: 1s;
}
</style>