---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit" | "reset" ;
  theme?: "primary" | "secondary" | "plain" | "hug";
  size?: "xs" | "sm" | "md" | "lg" | "xl";
  shape?: "square" | "circle" | "pill";
  varient?: "icon";
  text?: string;
  icon?: string;
  classes?: string;
}

const { 
  type = "button", 
  size,
  theme,
  varient, 
  shape,
  text, 
  icon,
  classes, 
  ...rest 
  } = Astro.props;
---

<button {type} class:list={[size && `font-${size}`, theme, shape, varient, classes]} {...rest}>
  { icon && <Icon name={icon} /> }
  <span class:list={[varient === 'icon' && 'sr-only']}>
    <slot/>
    {text}
  </span>
</button>