---
// Avatar.astro
import type { HTMLAttributes } from 'astro/types';
import { getImage } from 'astro:assets';

interface Props extends HTMLAttributes<"div"> {
  src: string | ImageMetadata;
  alt?: string;
  size?: "xs" | "sm" | "md" | "lg" | "xl";
  shape?: string;
}

const { 
  src,
  alt = 'Avatar',
  size = 'md',
  shape,
} = Astro.props;

const image = await getImage({
  src: src,
  format: "webp",
  width: size,
  height: size,
});
---
<style>
  .avatar {
    position: relative;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: var(--radius-ellipse);
    overflow: hidden;
  }
  .avatar.xs { width: var(--space-sm) }
  .avatar.sm { width: var(--space-md) }
  .avatar.md { width: var(--space-lg) }
  .avatar.lg { width: var(--space-xl) }
  .avatar.xl { width: var(--space-2xl) }
</style>

<div class:list={['avatar', size]}>
  <img src={image.src} alt={alt} class:list={[ shape ]} width='200' height='200'   style="width: 100%; height: 100%; object-fit: cover;" />
</div>