---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"section"> {
  ratio?: 'square' | 'landscape' | 'portrait' | 'widescreen' | 'ultrawide' | 'golden';
  classes?: string;
  styles?: string;
}

const {
  ratio = 'ultrawide',
  classes,
  styles,
  ...rest 
} = Astro.props;
---

<style>

  .hero-section {
    isolation: isolate;
    display: grid;
    place-content: center;
    aspect-ratio: var(--aspect-ratio, var(--ratio-ultrawide));
    background: var(--hero-background);
    padding-block: var(--space-md);
  }

  .content {
    max-width: var(--measure-lg);
    outline: 1px solid red;
   
  }

</style>

<section class:list={[ratio, classes]} {...rest}>
  <div class="content">
    <slot/>
  </div>
</section>

