---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"section"> {
  ratio?: 'square' | 'landscape' | 'portrait' | 'widescreen' | 'ultrawide' | 'golden';
  classes?: string;
  styles?: string;
}

const {
  ratio = 'ultrawide',
  classes,
  styles,
  ...rest 
} = Astro.props;

const aspectRatio = '--ratio-square';
const backgroundColor = "rgb(24 121 78)";
---

<style define:vars={{ aspectRatio, backgroundColor }}>



  .content {
    background-color: var(--backgroundColor);
    aspect-ratio: var(--aspectRatio);
    max-width: var(--measure-lg);
    outline: 1px solid red;
   
  }

  .section {
    background-color: var(--backgroundColor);
    isolation: isolate;
    display: grid;
    place-content: center;
    padding-block: var(--space-md);
  }

</style>

<section class:list={['section', ratio, classes]} {...rest}>
  <div class="content">
    <slot/>
  </div>
</section>

