---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"button"> {
  size?: "xs" | "sm" | "md" | "lg" | "xl";
  text?: string;
  classes?: string;
}

const { 
  size,
  text, 
  classes, 
  ...rest 
  } = Astro.props;
---

<style>
label { font-size: var(--font-size-md); }

/* Upgrade label layout when it's wrapping a checkbox */
label:has( > :where(input[type="radio"], input[type="checkbox"])) {
  display: inline-flex;
  align-items: flex-start;
  gap: 1ch;
  margin-top: .5ch;
}
</style>

<label>
  <slot/>
  {text}
</label>