---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"article">{
  tag?: "article" | "div" | "section";
  mediaSide?: "media-left" | "media-right";
  mediaWidth?: string;
  gap?: string;
  contentMin?: string;
  noStretch?: boolean;
  classes?: string;
}

const { 
  tag = 'article',
  mediaSide = 'media-left',
  mediaWidth = '30rem',
  gap = 'var(--space-sm-lg)',
  contentMin = '50%', /* ← works best as a percentage or ch */
  noStretch = false,
  classes,
  ...rest
} = Astro.props;

const Tag = tag;
---

<style>
  .media-object { 
    display: flex; 
    flex-wrap: wrap; 
    gap: var(--gap);
  }

  .media { 
    flex-grow: 1; 
    flex-basis: var(--media-width);  
    min-width: 320px;
  }

  .content {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--content-min);
    order:2;

    &.media-right { order: unset; }
  }

  .stack { --space: 1em; }
</style>

<Tag class:list={['media-object', noStretch && 'no-stretch', classes]} style={`--gap: ${gap};`}>
  <!-- slotted content [1]-->
  <div class:list={['content', 'stack', mediaSide]} style={`--content-min: ${contentMin}`}>
    <slot/>
  </div>
  <!-- slotted content -->
  <div class:list={['media']} style={`--media-width: ${mediaWidth}`}>
    <slot name="media" />
  </div>
</Tag>

 <!-- [1] Opiniated: I feel like the Heading should always come first to best describe the content -->