/*
Utopia Type 
 @link https://utopia.fyi/type/calculator?c=320,16,1.2,1440,20,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12

Utopia Space
@link https://utopia.fyi/space/calculator?c=320,16,1.2,1440,20,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
*/

/*  TOC
──────────────────────────────────
TYPOGRAPHY
01 Font families
02 Adaptive typography
03 Fluid font sizes
04 Lineheight
05 Letter spacing
06 Measure

SPACING
01 Fluid Space
02 One-up pairs
03 Custom pairs

BORDERS
01 Border sizes
02 Border radius 
03 Border radius conditional

ASPECT RATIOS 
01 Aspect ratios 

Z INDEX
01 Z-Index
─────────────────────────────── */

:root {
  /* 
  // MARK: Typography
  Typography
  */

  /* 01 Font families */
  --font-sans: 'Roboto Flex', Roboto, system-ui, -apple-system, Segoe UI, Ubuntu, Cantarell, Noto Sans, sans-serif;
  --font-serif: ui-serif, serif;
  --font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro, monospace;

  /* 02 Adaptive typography */
  --base-weight: 400;
  --base-grade: 0;

  /* 03 Fluid font sizes */
  --font-size-xs: clamp(0.6944rem, 0.6577rem + 0.1836vi, 0.8rem);
  --font-size-sm: clamp(0.8333rem, 0.7754rem + 0.2899vi, 1rem);
  --font-size-md: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --font-size-lg: clamp(1.2rem, 1.0739rem + 0.6304vi, 1.5625rem);
  --font-size-xl: clamp(1.44rem, 1.2615rem + 0.8924vi, 1.9531rem);
  --font-size-2xl: clamp(1.728rem, 1.4799rem + 1.2407vi, 2.4414rem);
  --font-size-3xl: clamp(2.0736rem, 1.7334rem + 1.7011vi, 3.0518rem);
  --font-size-4xl: clamp(2.4883rem, 2.027rem + 2.3067vi, 3.8147rem);

  /* 04 Lineheight */
  --lineheight-3xs: 0.95;
  --lineheight-2xs: 1.1;
  --lineheight-xs: 1.25;
  --lineheight-sm: 1.375;
  --lineheight-md: 1.5;
  --lineheight-lg: 1.75;
  --lineheight-xl: 2;

  /* 05 Letter spacing */
  --letterspacing-xs: -0.05em;
  --letterspacing-sm: 0.025em;
  --letterspacing-md: 0.05em;
  --letterspacing-lg: 0.075em;
  --letterspacing-xl: 0.15em;
  --letterspacing-2xl: 0.5em;
  --letterspacing-3xl: 0.75em;
  --letterspacing-4xl: 1em;

  /* 06 Measure */
  --content-size-sm: 20ch;
  --content-size-md: 45ch;
  --content-size-lg: 60ch;
  

  /* 
  // MARK: Spacing
  Spacing
  */
  
  /* 01 Fluid Space */
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
  --space-sm: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --space-md: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
  --space-lg: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem);

  /* 02 One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1196rem + 0.6522vi, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3478rem + 0.7609vi, 0.9375rem);
  --space-xs-sm: clamp(0.75rem, 0.5761rem + 0.8696vi, 1.25rem);
  --space-sm-md: clamp(1rem, 0.6957rem + 1.5217vi, 1.875rem);
  --space-md-lg: clamp(1.5rem, 1.1522rem + 1.7391vi, 2.5rem);
  --space-lg-xl: clamp(2rem, 1.3913rem + 3.0435vi, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vi, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vi, 7.5rem);

  /* 03 Custom pairs */
  --space-sm-lg: clamp(1rem, 0.4783rem + 2.6087vi, 2.5rem);



  /* 
  // MARK: Borders
  Borders
  */


  /* 01 Border sizes */
  --border-size-sm: 1px;
  --border-size-md: 2px;
  --border-size-lg: 5px;

  /* 02 Border radius */
  --radius-sm: 2px;
  --radius-md: 5px;
  --radius-lg: 1rem;
  --radius-xl: 2rem;
  --radius-2xl: 4rem;
  --radius-3xl: 8rem;

  /* 03 Border radius conditional */
  --radius-conditional-sm: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-sm));
  --radius-conditional-md: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-md));
  --radius-conditional-lg: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-lg));
  --radius-conditional-xl: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-xl));
  --radius-conditional-2xl: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-2xl));
  --radius-conditional-3xl: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-3xl));

  
   /* 
  // MARK: Aspect Ratios
  Aspect Ratios
  */
  
  --ratio-square: 1;
  --ratio-landscape: 4/3;
  --ratio-portrait: 3/4;
  --ratio-widescreen: 16/9;
  --ratio-ultrawide: 18/5;
  --ratio-golden: 1.618/1;

  /* 
  // MARK: Z-Index
  Z-Index
  */
  
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;
  --layer-important: 2147483647;
}