@import "./utility/flex.css";
@import "./utility/fx.css";
@import "./utility/grid.css";
@import "./utility/helpers.css";
@import "./utility/info.css";
@import "./utility/overflow.css";
@import "./utility/stack.css";
@import "./utility/styles.css";
@import "./utility/type.css";

/* BEM Modifiers in Pure CSS Nesting */
/* 
.class-name {}
.class-name--mod1 {}
.class-name--mod2 {}
.class-name--mod3 {}

.class-name {
  --background-color: var(--red-2);

  background-color: hsl(var(--background-color));

  &[class*='--mod1'] {
    --background-color: var(--green-4);
  }

  &[class*='--mod2'] {
    --background-color: var(--gray-4);
  }

  &[class*='--mod3'] {
    --background-color: var(--blue-4);
  }
} */