---
import { Icon } from 'astro-icon/components';
const navLinks = [
  { name: 'Home', path: '/' },
  { name: 'About', path: '/about' },
  { name: 'Buttons', path: '/buttons' },
  { name: 'Props', path: '/props' },
  { name: 'Blog', path: '/blog' }
];
---

<style>
  nav { margin-left: auto; }

  .nav-list {
    display: flex;
    gap: var(--space-sm);
  }
</style>

<nav>
  <ul role="list" class="nav-list">
    {
      navLinks.map(({ name, path }) => (
        <li>
          <a href={path} aria-current={Astro.url.pathname === path ? 'page' : undefined}>{name}</a>
        </li>
      ))
    }
  </ul>
</nav>

